<div class="headerLinkWrapper">
    <a class="headerLink" href="/">
        <img class="headerLogo" src="/logo_small.jpg">
    </a>
    <a class="headerLink" href="/rockets/">
        <h2>Rockets</h2>
    </a>
    <a class="headerLink" href="/engines/">
        <h2>Engines</h2>
    </a>
    <a class="headerLink" href="/missiles/">
        <h2>Missiles</h2>
    </a>
    <a class="headerLink" href="/payloads/">
        <h2>Payloads</h2>
    </a>
    <a class="headerLink" href="/other/">
        <h2>Other</h2>
    </a>
</div>